# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories and outputs
bin/
build/
.vs/

# GCC compiler suite (binaries/headers)
SysGCC/

# Temporary compiler files
temp_assemble.s
temp_assemble.o
temp_assemble.bin

# User configuration
config.ini
